* {
  margin: 0;
}

.details-page {
  background: #F7F8FA;
  padding: 20px 0;

  .white-box {
    background: #fff;
    padding: 20px;
  }

  .sub-menu {
    display: flex;
    justify-content: space-between;

    a {
      color: #2A7DDD;
      padding: 20px;
      text-decoration: none;
    }

    .direction,
    .sub-links {
      display: flex;
      flex-direction: row;
    }
  }
  .content-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .media-column {
      .gallery {
        .slider {
          .main-image {
            position: relative;
            .arrows {
              top: 0;
              bottom: 0;
              padding: 0 20px;
              width: 30px;
              height: 100%;
              position: absolute;
              background: rgba(0,0,0,0.2);
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 3rem;
              color: #fff;
              cursor: pointer;

              &.left-arrow {
                left: 0;
              }
              &.right-arrow {
                right: 0;
              }
            }

            .image-1 {
              width: 100%;
              height: 400px;
              background-size: cover;
              background-position: center center;
              background-repeat: no-repeat;
            }
          }
        }
        .thumbnails {
          display: grid;
          grid-template-columns: repeat(6, 1fr);

          .thumb-img {
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
    }
    .details-column {
      .date {
        font-size: .9rem;
        color: #424242;
        margin-bottom: 15px;
      }
      .title {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 15px;
      }
      .price {
        font-size: 1.7rem;
        font-weight: 500;
        color: green;
        margin-bottom: 30px;
      }

      label {
        font-weight: 700;
        font-size: 0.7rem;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: block;
      }

      .more-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 2px solid #F6F6F7;

        .info {
          h5 {
            font-size: .9rem;
            font-weight: 400;
            text-transform: capitalize;
          }
        }
      }

      .description {
        line-height: 1.5;
        color: #424242;
      }
    }
  }
}