.home {
    h1 {
        text-align: center;
        font-size: 3rem;
    }
    .links {
        background: rgba(0,0,0,.5);
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 20px;
        padding: 20px;
        margin-bottom: 70px;
        .categories {
            .title {
                font-size: 1.3rem;
                margin-bottom: 1rem;
                font-weight: 500;
            }
            .group-links {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                
                .link {
                    font-size: .8rem;
                    font-weight: 300;
                    margin-bottom: .5rem;
                    text-decoration: none; 
                }
            }
        }
    }

    .trending {
        max-width: 800px;
        margin: 0 auto;
        .search {
            width: 100%;
            font-size: 2rem;
            border-radius: 5px;
            border: 1px solid #333;
            padding: 10px;
            color: #333;
        }

        .title {
            font-size: 1rem;
            text-align: center;
            padding: 20px;
            text-transform: uppercase;
            font-weight: 300;
        }

        .trending-tags {
            text-align: center;
            .tag {
                padding: 10px 20px;
                border-radius: 45px;
                border: 1px solid #fff;
                display: inline-block;
                margin-bottom: 20px;
                margin-right: 20px;
                cursor: pointer;
                transition: all .1s ease-in-out;

                &:hover {
                    background: #fff;
                    color: #333;
                }
            }
        }
    }
}