body {
  color: #333;
}

.listings-page {
  background: #fff;

  #filter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 50px 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-size: 0.8rem;
      font-weight: 500;
      margin-bottom: 0.8rem;
    }
    select {
      background: #fff;
      border-radius: 5px;
      font-size: 1rem;
      padding: 5px;
      min-width: 100px;
      border: 2px solid #adbed2;
      color: #1b1b1b;
      margin-right: 20px;
      outline: none;
    }
    &.button {
      flex-direction: row;
      align-items: flex-end;
      cursor: pointer;
    }

    .primary-btn {
      background: #2A7DDD;
      color: #fff;
    }

    .reset-btn {
      background: #F7F8FA;
      &:hover {
        background: #F7F8FA;
      }
    }
    .primary-btn,
    .reset-btn {
      padding: 10px 20px;
      border-radius: 5px;
      margin-right: 10px;
    }
  }

  #list-view {
    background: #F7F8FA;
    padding: 20px 0;

    .white-box {
      background: #fff;
      padding: 20px;
    }
    .change-view {
      display: flex;
      flex-direction: row;
    }

    .all-items {
      padding: 20px 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px 20px;

      .item {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.34);
        border-radius: 5px;
        overflow: hidden;

        .image {
          height: 250px;
          background: url('https://i.ytimg.com/vi/lmygBrAx0RE/maxresdefault.jpg') no-repeat center center; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          position: relative;
          padding: 10px;

          .price {
            background: #fff;
            position: absolute;
            padding: 5px 10px;
            color: green;
            border-radius: 3px;
          }
        }
        .details {
          padding: 10px;
          text-transform: capitalize;
          position: relative;

          .fa-star {
            position: absolute;
            top: 20px;
            right: 10px;
            font-size: 1.4rem;

            &:hover {
              cursor: pointer;
              color: gold;
            }
          }

          h5 {
            font-size: 0.9rem;
            color: #27292d;
            line-height: 1.5;
            margin: 0 5px;
          }
          h6 {
            font-size: 0.7rem;
            color: #565d68;
            margin: 0 5px;
          }
        }
      }
    }
  }
}
